.main {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.main[data-color="purple"] {
  background: linear-gradient(90deg, var(--bg), var(--p-light-purple));
}

.main[data-color="green"] {
  background: linear-gradient(90deg, var(--bg), var(--p-light-green));
}

.main[data-color="red"] {
  background: linear-gradient(90deg, var(--bg), var(--p-light-red));
}

.main[data-color="white"] {
  background: linear-gradient(90deg, var(--bg), var(--p-dark-white));
}

.main[data-color="black"] {
  background: linear-gradient(90deg, var(--bg), var(--p-light-black));
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  cursor: pointer;
  transition: 250ms;
}

.titleBar > h2 {
  color: inherit;
  user-select: none;
}

.costs {
  display: flex;
  gap: 0.5rem;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--p-white);
  width: 1rem; height: 1rem;
  border-radius: 1rem;
}

.cost[data-color="purple"] {
  background-color: var(--p-purple);
}

.cost[data-color="green"] {
  background-color: var(--p-green);
}

.cost[data-color="red"] {
  background-color: var(--p-red);
}

.cost[data-color="white"] {
  color: var(--p-black);
  background-color: var(--p-white);
}

.cost[data-color="black"] {
  color: var(--p-white);
  background-color: var(--p-black);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 0;
  overflow: hidden;
  transition: 250ms;
}

.main[data-enlarged="true"] .details {
  padding: 0.5rem;
  height: 500px;
}

.options {
  display: flex;
  margin-top: auto;
}

.synopsis {
  white-space: pre-wrap;
}