:root {
  --fg: #F8F8F2;
  --bg: #272822;
  --accent: #F92660;

  --p-black: #272822;
  --p-light-black: #3E3D32;
  --p-red: #C01C28;
  --p-light-red: #F66151;
  --p-green: #43952C;
  --p-light-green: #96E22E;
  --p-orange: #E16D21;
  --p-light-orange: #F0971F;
  --p-blue: #12488B;
  --p-light-blue: #2A7BDE;
  --p-purple: #94276A;
  --p-light-purple: #F9265B;
  --p-cyan: #50A1D4;
  --p-light-cyan: #5ED9EF;
  --p-white: #F8F8F2;
  --p-dark-white: #88846F;

  --nav-width: 64px;
  --nav-padding: 4px;
  --footer-height: 5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --fg: #272822;
    --bg: #F8F8F2;
    }
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  color: var(--fg);
  background-color: var(--bg);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - var(--nav-width));
  height: 150vh;
}

a {
  color: var(--p-blue);
}

a[data-colors="default"] {
  color: inherit;
  text-decoration: none;
}

h6, h5, h4, h3, h2, h1, p {
  margin: 0;
}

h1 {
  color: var(--p-light-blue);
}

h2 {
  color: var(--p-light-green);
}

button {
  color: var(--p-dark-white);
  background-color: var(--p-light-blue);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 100ms;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: var(--p-blue);
}

button:active {
  scale: 0.9;
}