.main {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 1rem;
  margin: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.schools {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.main > p {
  white-space: pre-wrap;
}

.cantrips {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.cantrips > label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}